*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
}

::selection{
    background: #1b1b1b;
    color: #fff;
}

.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #fff;
    z-index: 9;
}
.logo{
    width: 200px;
}



.container-fluid
{
width: 100%;
height: auto;

}
.container
{
width: 1000px;
height: auto;
margin: auto;
}
.container .search
{
display: flex;
padding: 30px 0px;
justify-content: right;
}
.container .search h1
{
letter-spacing: 3px;
display: inline-block;
border-bottom: 2px solid rgb(5, 118, 159);
margin-right: 20px;
}
.container .search input
{
width: 40%;
padding: 5px 16px;
background: transparent;
border: 1px solid #000;
font-size: 20px;
text-transform: capitalize;
letter-spacing: 3px;
outline: none;
}
.container .search input::placeholder
{
color: rgb(19, 158, 222);
font-weight: 500;
}

.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

.header{
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
   background-image: url(../img/header.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.content{
    text-align: center;
}

.heading{
    color: #1e7bcd;
    text-transform: capitalize;
    font-size: 90px;
    line-height: 70px;
    margin-bottom: 80px;
}

.heading .small{
    display: block;
    font-size: 60px;
}

.heading .no-fill{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 3px #000;
    
}

.btn{
    padding: 10px 20px;
    border-radius: 10px;
    background: rgb(239, 11, 11);
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}

.blogs-section{
    width: 100%;
    padding: 50px 5vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.blog-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-overview{
    margin: 10px 0 10px;
    line-height: 30px;
}

.btn.dark{
    background: #1b1b1b;
    color: #fff;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-top: 3rem;
    background: #111;
    display: flex;
    justify-content: space-between;
    border-top-left-radius:50px ;
    border-top-right-radius:50px ;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-container .sec{
    margin-right: 30px;
}

.footer-container .sec.aboutus{
    width: 40%;
}

.footer-container h2{
    position: relative;
    color: #fff;
    margin-bottom: 15px;
}

.footer-container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(77, 228, 255);
}

footer p{
    color: #fff;
}

.sci{
    margin: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: .5s;
    color:#df0068;
}

.sci li a:hover{
    background: rgba(147, 149, 150, 0.559);
}

.sci i a .bx{
    color: #fff;
    font-size: 20px;
}

.quicklinks{
    position: relative;
    width: 25%;
}

.quicklinks ul li{
    list-style: none;
}

.quicklinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: .3s;
}

.quicklinks ul li a:hover{
    color: #fff;
}

.footer-container .contactBx{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contactBx .info{
    position: relative;
}

.contactBx .info li{
    display: flex !important;
    margin-bottom: 16px;
}

.contactBx .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contactBx .info li span{
    color: #999;
}

.contactBx .info li a{
    color: #999;
    text-decoration: none;
    transition: .5s;
}

.contactBx .info li a:hover{
    color: #fff;
}

@media (max-width: 1060px){
    .container{
        margin: 0 auto;
        width: 95%;
    }

    .home-text{
        width: 100%
    }
}

@media (max-width: 768px){
    .nav{
        padding: 10px 0;
    }

    section{
        padding: 50px 5vw;
    }

    .header-content{
        margin-top: 3rem !important;
    }

    .home{
        min-height: 380px;
    }

    .home-title{
        font-size: 3rem;
    }

    .header-title{
        font-size: 2rem;
    }

    .header-img{
        height: 370px;
    }

    .about{
        flex-direction: column;
    }

    .about .contentBx{
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }

    .about .contentBx,
    .about .imgBx{
        min-width: 100%;
        width: 100%;
        padding-right: 0px;
        text-align: center;
    }

    .about .imgBx{
        min-height: 250px;
    }

    .btn2{
        margin-bottom: 30px;
    }

    .post-header{
        height: 435px;
    }

    .post-header{
        margin-top: 9rem !important;
    }

}

@media (max-width: 570px){
    .post-header{
        height: 390px;
    }

    .header-title{
        width: 100%;
    }

    .header-img{
        height: 340px;
    }
    .allblogs{
        font-size: 15px;
    }
    .logo{
        width: 60%;
    }
    .container .search input::placeholder{
        font-size: 9px;
        
    }
    .container .search input{
        width: 100%;
       
    }
    .allblogs{
        font-size: 10px;
    }
   
    .container .search{
        
        width:200px;
    }
   
}

@media (max-width: 396px){
    .home-title{
        font-size: 2rem;
    }

    .home-subtitle{
        font-size: 0.9rem;
    }

    .home{
        min-height: 300px;
    }

    .post-box{
        padding: 10px;
    }

    .header-title{
        font-size: 1.4rem;
    }

    .header-img{
        height: 240px;
    }

    .post-header{
        height: 335px;
    }

    .header-img{
        height: 340px;
    }
    .allblogs{
        font-size: 10px;
    }
    .logo{
        width: 80%;
    }
    .container .search input::placeholder{
        font-size: 10px;
       
        
    }

    .container .search input{
        width: 100%;
       
    }
    .allblogs{
        font-size: 10px;
    }
    .container .search{
        justify-content: right;
        width:200px;
    }
}

/* Footer Media Query */
@media (max-width: 991px){
    footer{
        padding: 40px;
        font-size: 20px;
    }

    footer .footer-container{
        flex-direction: column;
    }

    footer .footer-container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .footer-container .sec.aboutus{
        width: 100% !important;
    }

    footer .footer-container .quicklinks{
        width: 100%;
    }

    footer .footer-container .contactBx{
        width: 100%;
    }
}